* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
}

#logo_container {
    width: 170px;
    height: 120px;
    margin-left: 50px;
    position: relative;
    top: 30px;
}

img.logo {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

nav {
    margin-left: 120px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
    font-weight: bold;
}

.extra_buttons {
    margin-left: auto;
    margin-right: 40px;
}

.extra_buttons button {
    background: rgb(255, 183, 0);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 6px;
}

.hero {
    height: 450px;
    background: url("ice cream3.jpg") no-repeat center/cover;
}

#caption {
    position: relative;
    top: 150px;
    left: 10%;
    color: white;
    width: 50%;
}

.hero button {
    margin-top: 15px;
    background: rgb(255, 183, 0);
    border: none;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
}

.aboutus {
    display: flex;
    align-items: center;
    padding: 50px 100px;
}

.product_image {
    width: 350px;
    height: 350px;
    margin-right: 50px;
}

article p {
    width: 70%;
    font-weight: bold;
    margin-top: 15px;
}

.top-items {
    height: 350px;
    background: url("ice cream 3.jpg") no-repeat center/cover;
}

.items_heading {
    background: rgba(242, 137, 0, 0.9);
    height: 100%;
    color: white;
}

.item-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.item {
    background: white;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
}

.item img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.menu {
    padding: 50px 0;
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.cards {
    width: 200px;
    text-align: center;
}

.cards img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid goldenrod;
}

footer {
    background: #2c2c2c;
    color: white;
    padding: 50px;
    text-align: center;
}
